*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20rem;
    width: 20rem;
    /* background-color: antiquewhite; */
}
.hexcode{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 300;
    margin: 1rem;
    background-color: aqua;
    border-radius: 1rem;
    height: 5rem;
    width: 14rem;
}
.btn{
    height: 3rem;
    width: 8rem;
    border-radius: 1rem;
    border-style: none;
    background-color: red;
    font-weight: 800;
    font-size: larger;
    transition: scale 0.5s ease-in-out;
}
.btn:hover{
     scale: 1.25;
}